@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-primary: #3aad67;
    --clr-seconday: #f6f6f6;
    --clr-white: #fff;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-info: #55667a;
    --clr-warning: hsl(312, 100%, 65%);
    --clr-button: #f6f6f6;
    --clr-primary-variant: #23693e;
    --clr-background: #f6f6f6;
    --clr-light: rgba(132, 139, 200, 0.18);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: var(--clr-light);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    border-radius: var(--border-radius-2);
    padding: 5px 10px 5px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.btn:active::before {
    width: 6px;
    background-color: var(--clr-primary);
    border-radius: var(--border-radius-2);
}

.btn:hover {
    color: var(--clr-seconday);
    background-color: var(--clr-primary);
    border-radius: var(--border-radius-2);
}

input[type=text],
input[type=password],
select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}